@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #9A3B3B;
    --secondary-color: #C08261;
    --background-color: #222831;
    --secondary-background-color: #12151a;
    --highlight-color: #DAA520;
    --text-color: #f3f5f2;
    background-color: var(--background-color);
}

html {
    position: fixed;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}