@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --primary-color: #9A3B3B;
    --secondary-color: #C08261;
    --background-color: #222831;
    --secondary-background-color: #12151a;
    --highlight-color: #DAA520;
    --text-color: #f3f5f2;
    background-color: var(--background-color);
} */

@layer base {
    :root {
        --radius: 0.5rem;

        @media (prefers-color-scheme: light) {
            --background: 206 199 181;
            --secondary-background: 236 229 216;
            --foreground: 74 72 73;
    
            --card: 236 229 216;
            --card-foreground: 74 72 73;
    
            --popover: 243 241 228;
            --popover-foreground: 74 72 73;
    
            --primary: 206 199 181;
            --primary-foreground: 74 72 73;
    
            --secondary: 206 199 181;
            --secondary-foreground: 74 72 73;
    
            --muted: 113 110 111;
            --muted-foreground: 113 110 111;
    
            --accent: 0 0 0;
            --accent-foreground: 255 215 0;
    
            --destructive: 239 68 68;
            --destructive-foreground: 249 250 251;
    
            --border: 113 110 111;
            --input: 229 231 235;
            --ring: 113 110 111;
        };

        @media (prefers-color-scheme: dark) {
            --background: 30 30 38;
            --secondary-background: 19 19 24;
            --foreground: 255 255 255;
    
            --card: 19 19 24;
            --card-foreground: 255 255 255;
    
            --popover: 0 0 0;
            --popover-foreground: 255 215 0;
    
            --primary: 249 250 251;
            --primary-foreground: 0 0 0;
    
            --secondary: 243 244 246;
            --secondary-foreground: 0 0 0;
    
            --muted: 255 255 255;
            --muted-foreground: 255 255 255;
    
            --accent: 255 215 0;
            --accent-foreground: 255 255 255;
    
            --destructive: 255 255 255;
            --destructive-foreground: 255 255 255;
    
            --border: 30 30 38;
            --input: 255 255 255;
            --ring: 30 30 38;
        }
    }

}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}