/* Web */
@media only screen and (min-device-width: 1024px) {
    :root {
        --nametag-padding: 15%;
    }
}

/* iPhone */
@media only screen and (max-device-width: 767px) {

    :root {
        --nametag-padding: 15%;
    }

}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {

    :root {
        --nametag-padding: 15%;
    }

}

.nametagHolder {
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    padding: var(--nametag-padding);
}