/* Web */
@media only screen and (min-device-width: 1024px) {
    :root {
        --vara-font-scale: 1.4;
        --vara-margin-top: 85px;
        --vara-signature-align-center: -65px;
        --welcome-sticker-width: 275px;
    }
}
/* iPhone */
@media only screen and (max-device-width: 767px) {
    :root {
        --vara-font-scale: 0.85;
        --vara-margin-top: 40px;
        --vara-signature-align-center: 15px;
        --welcome-sticker-width: 175px;
    }

    /* iPhone Portrait */
    @media (orientation: portrait) {

    }

    /* iPhone Landscape */
    @media (orientation: landscape) {
       
    }
}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    :root {
        --vara-font-scale: 1.2;
        --vara-margin-top: 70px;
        --vara-signature-align-center: -20px;
        --welcome-sticker-width: 250px;
    }
}

.welcome-sticker {
    position: absolute;
    z-index: 1;
    width: var(--welcome-sticker-width);
}

.sticker-holder {
    width: var(--welcome-sticker-width);
}

#vara-container {
    margin-top: var(--vara-margin-top);
}

#vara-container svg {
    overflow: visible;
    position: relative;
    z-index: 2;
    transform-origin: center center;
    transform: scale(var(--vara-font-scale));
    translate: var(--vara-signature-align-center) 0;
}