.main-button {
    font-weight: 600;
    color: var(--text-color);
    color: #f3f5f2ff;
    opacity: 85%;
    padding-left: 1rem;
}

.navbar {
    top: 0;
    z-index: 1000;
    position: fixed;
    background-color: var(--background-color);
    box-shadow: 0px 0px 20px 20px var(--background-color);
}