@media only screen and (min-device-width: 1024px) {
    :root {
<<<<<<< HEAD
        --tagline-font-size: clamp(50px, 6vh, 70px);
=======
        --tagline-font-size: clamp(40px, 6vh, 60px);
>>>>>>> main
    }
}
/* iPhone */
@media only screen and (max-device-width: 767px) {
    :root {
        --tagline-font-size: clamp(40px, 10vw, 60px);
    }
}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    :root {
        --tagline-font-size: clamp(40px, 6vh, 60px);
    }
}

.tagline-label {
    font-style: italic;
    text-align: left;
    font-size: var(--tagline-font-size);
    line-height: 3rem;
    font-weight: 500;
    color: #f3f5f2ff;
    text-shadow: 3px 0px 0px black;
}

span.highlight {
    font-weight: 600;
    color: var(--highlight-color);
}