@media only screen and (min-device-width: 1024px) {
    :root {
        --tagline-font-size: 60px;
    }
}
/* iPhone */
@media only screen and (max-device-width: 767px) {
    :root {
        --tagline-font-size: 1.5rem;
    }
}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    :root {
        --tagline-font-size: 2rem;
    }
}

.show-cursor::after {
    content: '|';
    animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.tagline-label {
    font-style: italic;
    text-align: left;
    display: inline-block;  
    font-size: var(--tagline-font-size);
    line-height: 2.25rem;
    text-shadow: 2px 2px 4px #000000;
}